<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.kalengo.plugin.kalengoplugin"
      version="0.1.0">
    <name>kalengo</name>
    <description>kalengo Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,kalengo</keywords>


    <js-module src="www/kalengo.js" name="KalengoPlugin">
        <clobbers target="KLG.plugins.kalengo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KalengoPlugin">
                <param name="android-package" value="com.kalengo.weathermeida.plugins.KalengoPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/KalengoPlugin.java" target-dir="src/com/kalengo/weathermeida/plugins" />      
     </platform>          
</plugin>